<% include ../partials/header.ejs %>

<div class="container">
      <div class="jumbotron align-items-center" >
     
      <% if (title == "Contact") { %>
        hey
        <br>
          <a class="btn btn-success" href="/contact" role="button">Click Here</a>
        <% } %>
     
      </div>
</div>

<% include ../partials/footer.ejs %>