<!--
    File name: index.ejs (view/contact)
    Student name: Chandni Patel
    Student ID: 300990555
    Date: Febuary 16, 2019
-->
<% include ../partials/header.ejs %>

<div class="container">
      <div class="jumbotron text-center" >
     
      <% if (title == "Contact") { %>
        <p class="font-weight-bold text-align:center"> Hello, there </p>
        <br>
        Thank you for visiting my portfolio site. If you have further question than you can fill form, I will get back to you soon.
        <br> In case of emergency contact me on following number.
        <p class="font-weight-bold text-align:center">
        649-555-5555
        <br>
        Monday-Friday 8am to 8pm
        <br>
        chandnipatel@example.ca
        </p>
        
        <br>
          <a class="btn btn-success" href="/givedetail" role="button">Fill Form</a>
        <% } %>
      </div>
</div>

<% include ../partials/footer.ejs %>