<!--
    File name: error.ejs
    Student name: Chandni Patel
    Student ID: 300990555
    Date: Febuary 16, 2019
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
