<!--
    File name: index.ejs (view/about)
    Student name: Chandni Patel
    Student ID: 300990555
    Date: Febuary 16, 2019
-->

<% include ../partials/header.ejs %>
    <div class="container">
      <div class="jumbotron">
        
        <h3>  </h3>
        <% if (title == "About") { %>
        <div class="container">
  <div class="row text-center">
    <div class="col">
      <p class="font-weight-bold text-align:center"> About Me </p>
      <br>
      I am Chandni Patel. I have completed my Master degree in "Computer Engineering". Currently, I am pursuring advance diploma in "Software Engineering Technology".
      <br>
      <br>
      I wroked as research assistance and had experice of volunteer handling workshop on networking.
      I have good technical skill along with interpersonl skills Taking Initiative, Team Leadership and Punctual. Combination of technical skills and interpersonal skills 
      makes me good candidate for new oppertunites.
      <p><a href = "https://drive.google.com/file/d/1A21x7sNQjdnbYDrnAB_xD7KnEQNNwVLR/view">My Resume</p>
    </div>
    <div class="col">
      <img src="/images/ChandniPatel.jpeg" class="rounded-circle" height="400" width="350"/>
    </div>
  </div>
        <% } %>
      </div>
    </div>
<% include ../partials/footer.ejs %>
