<% include ../partials/header.ejs %>
    <div class="container">
      <div class="jumbotron">
        
        <h3>  </h3>
        <% if (title == "Projects") { %>
        <h3> Services Provided by Chandni Patel </h3>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Scope</th>
                <th scope="col">Speciality</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Web Design</th>
                <td>Designing Web with attractive layout using different framework. For example bootstrap, font-awsome</td>
              </tr>

              <tr>
                <th scope="row"></th>
                <td>Intractive web designing with using AngularJS, nodeJS</td>
              </tr>

              <tr>
                <th scope="row">Mobile Application</th>
                <td>Android and iOS Application develpoment</td>
              </tr>

              <tr>
                <th scope="row">Server Management</th>
                <td>Managing servers as per client's requirement</td>
              </tr>
              
              <tr>
                <th scope="row">Amezon Web Services</th>
                <td> Elastic BeanStalk, Lamda Funcation, RDS, DynamoDB </td>
              </tr>

              <tr>
                <th scope="row">Database</th>
                <td>Relational Database: SQL, MySQL, Oracal, RDS(AWS)</td>
              </tr>
              <tr>
                <td></td>
                <td>Non Relational Database: MongoDB, DynamoDB(AWS)</td>
              </tr>

              
            </tbody>
          </table>
        <% } %>
      </div>
    </div>
<% include ../partials/footer.ejs %>
