<% include ../partials/header.ejs %>
    <div class="container">
      <div class="jumbotron">
        
        <h3>  </h3>
        <% if (title == "Projects") { %>
        <h3> Project accomplished by Chandni Patel </h3>
          <table class="table">
            <thead class="thead-dark bg-success">
              <tr>
                <th scope="col">Name </th>
                <th scope="col">Discription</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Software Management System</th>
                <td>Software Management System is a web based implementeion accomplished during
                Software Project devpoloment study.                
                </td>
              </tr>
              
              <tr>
                <th scope="row">Healthcare Management System</th>
                <td>Healthcare Management System has wide scope for patient and doctor
                becasue HMS is providing common platform for indirect interaction between 
                doctor and patient. For doctor, it will be a web based application and
                for patient it will be mobile application.               
                </td>
              </tr>

              <tr>
                <th scope="row"></th>
                <td>Healthcare Management System has wide scope for patient and doctor
                becasue HMS is providing common platform for indirect interaction between 
                doctor and patient. For doctor, it will be a web based application and
                for patient it will be mobile application.               
                </td>
              </tr>
            </tbody>
          </table>
        <% } %>
      </div>
    </div>
<% include ../partials/footer.ejs %>
